[project]
	description = Taking over github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jafar Al-Gharaibeh (MemoRay)
[access "refs/for/refs/*"]
	read = group user/Jafar Al-Gharaibeh (MemoRay)
	push = group user/Jafar Al-Gharaibeh (MemoRay)
	label-Code-Review = -2..+2 group user/Jafar Al-Gharaibeh (MemoRay)
	label-Verified = -1..+1 group user/Jafar Al-Gharaibeh (MemoRay)
	rebase = group user/Jafar Al-Gharaibeh (MemoRay)
	removeReviewer = group user/Jafar Al-Gharaibeh (MemoRay)
	submit = group user/Jafar Al-Gharaibeh (MemoRay)
[access "refs/heads/*"]
	read = group user/Jafar Al-Gharaibeh (MemoRay)
	create = group user/Jafar Al-Gharaibeh (MemoRay)
	push = +force group user/Jafar Al-Gharaibeh (MemoRay)
	pushMerge = group user/Jafar Al-Gharaibeh (MemoRay)
[access "refs/tags/*"]
	push = +force group user/Jafar Al-Gharaibeh (MemoRay)
	pushTag = group user/Jafar Al-Gharaibeh (MemoRay)
	pushSignedTag = group user/Jafar Al-Gharaibeh (MemoRay)
